name: Checking Rifugio Availability

on:
  workflow_dispatch:
    inputs:
      date:
        description: 'Date to check availability (YYYY-MM-DD)'
        required: false
  schedule:
    - cron: '35 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        hostels: [
          # Fodara Vedla is probably too close to Sennes to be useful
          #{ date: "2026-09-13", name: "Rifugio Fodara Vedla", url: "https://www.fodara.it/en#YxKQED1yBxB__", id: 12869 },
          # Pederü showed single person availability, but is still probably too close to Sennes
          #{ date: "2026-09-13", name: "Rifugio Pederü", url: "https://www.pederue.it/en#Y7D0a11V", id: 10716 },
          { date: "2026-09-13", name: "Rifugio Fanes", url: "https://www.rifugiofanes.com/en/booking.htm", id: 13308 },
          { date: "2026-09-13", name: "Rifugio Lavarella", url: "https://lavarella.it/en/book-online", id: 13004 },
          
          # Lagazuoi uses an HTML response that is hard to parse
          #{ date: "2026-09-14", name: "Rifugio Lagazuoi", url: "https://rifugiolagazuoi.com/index_en.php", id: 13004 },
          
          # Scoiattoli uses an HTML response that is hard to parse
          #{ date: "2026-09-15", name: "Rifugio Scoiattoli", url: "https://www.rifugioscoiattoli.it/", id: 13004 },
          # Averau uses an HTML response that is hard to parse
          #{ date: "2026-09-15", name: "Rifugio Averau", url: "https://rifugioaverau.bukly.com/", id: 13004 },
          # Nuvolau isn't taking bookings until Feb 7
          #{ date: "2026-09-15", name: "Rifugio Nuvolau", url: "https://rifugionuvolau.it/language/en/home-inglese/", id: 13117 },
          # Cinque Torri is email only

         
        ]
        guests: [
          { count: 1, param: "18" },
          { count: 2, param: "18%2C18" },
        ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Check for an open spot on given date
        id: check_availability
        run: |
          ./script/check-availability.sh \
            --date "${{ github.event.inputs.date || matrix.hostels.DATE }}" \
            --hostel-id "${{ matrix.hostels.id }}" \
            --hostel-name "${{ matrix.hostels.name }}" \
            --guests-count "${{ matrix.guests.count }}" \
            --guests-param "${{ matrix.guests.param }}"

      - name: Notify if the spot is available
        uses: appricos/pushinator-action@v1
        if: success() && steps.check_availability.outputs.available == 'true'
        with:
          apiToken: ${{ secrets.PUSHINATOR_API_TOKEN }}
          channelId: ${{ secrets.PUSHINATOR_CHANNEL_ID }}
          notification: ${{ steps.check_availability.outputs.message }}

